<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beautifulchina.dao.suggestions.SuggestionsMapper">
    <!-- 插入商家登陆信息 -->
    <insert id="insertSuggestions" parameterType="com.beautifulchina.suggestions.Suggestions">
        INSERT INTO
        ts_dispatch(user_id,
        disno,
        type,
        status,
        description,
        phone,
        email,
        firstname,
        lastname,
        sex,
        nationality,
        recordtime)
        VALUES(#{userId},
        #{disno},
        #{type},
        #{status},
        #{description},
        #{phone},
        #{email},
        #{firstname},
        #{lastname},
        #{sex},
        #{nationality},
        #{recordtime}
        )
    </insert>
</mapper>