<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beautifulchina.dao.supplier.SupplierMapper">
    <!-- 商家入驻申请 -->
    <insert id="insertSupplier" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.beautifulchina.supplier.Supplier">
        INSERT INTO ts_supplier(
        name,
        address,
        tel,
        tel2,
        legal,
        descr,
        license,
        contact,
        email,
        website,
        status,
        regtime,
        language,
        password,
        dept_code,
        psw)
        VALUES(#{supplierName},
        #{supplierAddress},
        #{telephone},
        #{telephone2},
        #{legalPeople},
        #{description},
        #{license},
        #{contact},
        #{supplierEmail},
        #{website},
        #{status},
        #{regtime},
        #{language},
        #{password},
        #{deptCode},
        #{psw})
    </insert>

    <select id="getAgreement" parameterType="java.util.Map" resultType="com.beautifulchina.footer.bo.SystemConfigBO">
         SELECT A.id id,name,value FROM
( SELECT t1.content name,t2.id  id FROM ts_language t1 INNER JOIN ts_systemconfig t2 ON t1.uuid =t2.name  WHERE `type`=#{language} AND t2.`group_code`=#{groupCode}) A LEFT JOIN
( SELECT t1.content value,t2.id id FROM ts_language t1 INNER JOIN ts_systemconfig t2 ON t1.uuid =t2.value  WHERE `type`=#{language} AND t2.`group_code`=#{groupCode}) B ON A.id=B.id
    </select>
    <!--验证code是否重复-->
    <select id="uniqueCode" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from ts_supplier where dept_code=#{deptCode}
    </select>
    <!--验证邮箱是否重复-->
    <select id="uniqueEmail" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from ts_supplier where email=#{email}
    </select>
</mapper>