<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beautifulchina.dao.user.ForgotPasswordMapper" >
    <!--按照邮箱地址查询用户-->
    <select id="getUserByEmail" parameterType="java.lang.String" resultType="com.beautifulchina.user.bo.OrdinaryUserBO">
        select * from ts_user where email=#{email}
    </select>
    <!--用户表更新随机码和操作时间-->
    <update id="saveAuthcode" parameterType="java.util.Map">
        UPDATE ts_user SET authcode=#{authcode},operatetime=#{operatetime} WHERE id=#{id}
    </update>
</mapper>