<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beautifulchina.dao.theme.ThemeMapper" >

    <!--获取主题标题列表-->
    <select id="getThemes" resultType="com.beautifulchina.theme.bo.ThemeBO" parameterType="java.lang.String">
      select t2.id id,t1.content title
      from ts_language t1
      left join tm_theme t2
      on t1.uuid =t2.title
      where type=#{language} AND t2.`id` IS NOT NULL
    </select>

    <!--获取英文主题列表-->
    <select id="getThemeById" resultType="com.beautifulchina.theme.bo.ThemeBO" parameterType="java.lang.String">
--        select A.id id,title,description `desc`,
--        photoOne,photoTwo,photoThree,photoFour
--        from(select t2.id id,t1.content title from
--        ts_language t1 left join tm_theme t2 on t1.uuid =t2.title  where type=#{language}) A
--        left join (select t2.id id,t1.content description, photo_one photoOne, photo_two photoTwo,
--        photo_three photoThree,photo_four photoFour from ts_language t1 left join tm_theme t2
--        on t1.uuid =t2.title  where type=#{language}) B on A.id=B.id where A.id=#{id};
       SELECT
        a.id id,
        title,
        `desc`,
       photo_one photoOne,
        photo_two photoTwo,
       photo_three photoThree,
       photo_four photoFour
       from
       tm_theme a
       WHERE a.id=#{id}




    </select>

    <!--获取主页要显示主题-->
    <select id="getTheme" resultType="com.beautifulchina.theme.vo.ThemeVO" parameterType="java.lang.String">
      select t2.id  id,t3.image image,t1.content title
      from ts_language t1 left join tm_theme t2 on
      t1.uuid =t2.title  left join tm_indexconfig t3 on
      t2.id=t3.itemId   where t3.type='theme'  and t1.type=#{language}
      order by t3.sort limit 0,6
    </select>


    <!--根据主题的id,与当前所显示的页数获取9条线路信息-->
    <select id="getAllToursByThemeId" resultType="com.beautifulchina.tour.bo.TourBO">
        SELECT t3.id tourId,
        t6.content title ,
        t5.trd_price price,
        t4.image_url image
        FROM
        tm_theme t1 JOIN
        tm_tour_theme t2 ON t1.id=t2.thm_id
        JOIN  tm_tour t3 ON t2.tour_id=t3.id
        JOIN tm_tour_image t4 ON t3.id=t4.tour_id
        LEFT JOIN  (select min(trd_time),tour_id,trd_price from tm_tourdate  where trd_time>#{day3} group by tour_id)t5 on
        t3.id=t5.tour_id LEFT JOIN ts_language t6 ON t3.title = t6.uuid
        WHERE t1.id=#{themeId} AND t4.thumbnail=1 AND t5.type=#{language}
        ORDER BY t3.id
        limit #{page},9
    </select>

    <!--根据主题的id获取所属全部线路信息的条数-->
    <select id="getAllToursNo" resultType="Integer">
        SELECT count(*) total
        FROM
        tm_theme t1 JOIN
        tm_tour_theme t2 ON t1.id=t2.thm_id
        JOIN  tm_tour t3 on t2.tour_id=t3.id
        JOIN tm_tour_image t4 ON t3.id=t4.tour_id
        WHERE t1.id=#{themeId} AND t4.thumbnail=1
    </select>
</mapper>